<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mybatis-demo">
	<!-- resultType="cn.sunnyboy.pojo.User" -->
	<select id="queryUserById" parameterType="java.lang.Long" resultType="hashmap">
		select * from tb_user where id = #{id}
	</select>
	<select id="queryAllUser" resultType="cn.sunnyboy.pojo.User">
		select * from tb_user
	</select>
	
	<!-- insert 操作 -->
	<insert id="saveUser" parameterType="cn.sunnyboy.pojo.User">
				INSERT INTO tb_user (
			id,
			user_name,
			password,
			name,
			age,
			sex,
			birthday,
			created,
			updated
		)
		VALUES
			(
				null,
				#{userName},
				#{password},
				#{name},
				#{age},
				#{sex},
				NOW(),
				NOW(),
				NOW()
			);
	</insert>
	<!-- update操作 -->
	<update id="updateUser" parameterType="cn.sunnyboy.pojo.User">
		 UPDATE tb_user set
		 user_name = #{userName},
		 password = #{password},
		 name = #{name},
		 age = #{age},
		 sex = #{sex},
		 birthday = NOW(),
		 created = NOW(),
		 updated = NOW()
		WHERE id = #{id};
	</update>
	<update id="updateUser2" parameterType="cn.sunnyboy.pojo.User">
		 UPDATE tb_user set
		 user_name = #{userName},
		 birthday = NOW(),
		 created = NOW(),
		 updated = NOW()
		WHERE id = #{id};
	</update>
	<!-- delete操作 -->
	<delete id="deleteUser" parameterType="java.lang.Long">
		delete from tb_user where id = #{id}
	</delete>	
</mapper>  